.container-bg-img{
  background-image: url("/about-page/img/img3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.team-bg-color{
  background-image: linear-gradient(0, #134ff2, #cbfeff);
}

.btn-space{
  margin-top: 20px;
}

.space-top{
  padding-top: 46px;
}

.img-size{
  margin-bottom: 20px;
  max-width: 72%;
}

.title-res{
  display: flex;
  justify-content: center;
  margin: 0 -30px;
}

.title-color{
  color: #f1f3ff;
}

.head-text-color{
  color: #ffffff;
}